@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

:root {
    --text-color: hsla(210, 50%, 85%, 1);
    --shadow-color: hsla(210, 40%, 52%, 0.4);
    --btn-color: hsl(210, 80%, 42%);
    --bg-color: #141218;
}
* {
    font-family: "Poppins", sans-serif;
}
/* Login */
.login {
    width: 360px;
    height: min-content;
    padding: 20px;
    border-radius: 12px;
    background: #ffffff;
    z-index: 999;
}

/* USER MANAGEMENT */
.bodyAddUser {
    display: flex;
    justify-content: center;
    height: 70vh;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.EditUser {
    width: 360px;
    height: min-content;
    padding: 20px;
    border-radius: 12px;
    background: #ffffff;
}

.bodyAddEdit {
    display: flex;
    justify-content: center;
    height: 70vh;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.addUser {
    width: 360px;
    height: min-content;
    padding: 20px;
    border-radius: 12px;
    background: #ffffff;
}
/* END USER MANAGEMENT */

/* CATEGORY MANAGEMENT */
.addCategory {
    width: 360px;
    height: min-content;
    padding: 20px;
    border-radius: 12px;
    background: #ffffff;
}


/* END CATEGORY MANAGEMENT */

.addUserProduct {
    width: 360px;
    height: min-content;
    padding: 20px;
    border-radius: 12px;
    background: #ffffff;
}

.colorBD {
    color: #2b296c;
}

.btnBD {
    background-color: #2b296c;
    color: #ffffff;
}

.btnPK {
    background-color: #bc60de;
    color: #ffffff;
}

.object4 {
    width: 100%;
    height: 100%;
    position: absolute;
}

.imgLogin {
    position: relative;
}

.object1 {
    position: absolute;
    top: 10%;
    right: 295px;
    z-index: 999999;
}

.object2 {
    position: absolute;
    top: 10%;
    left: 18%;
    z-index: 999999;
}

.bodyLogin {
    display: flex;
    justify-content: center;
    height: 92vh;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.bodyAddCategory {
    display: flex;
    justify-content: center;
    height: 60vh;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.bodyAddProduct {
    display: flex;
    justify-content: center;
    height: 73vh;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.bodyAddSlider {
    display: flex;
    justify-content: center;
    height: 65vh;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.editProduct {
    width: 460px;
    height: min-content;
    padding: 20px;
    border-radius: 12px;
    background: #ffffff;
}

.form-signinProduct {
    width: 100%;
    max-width: 430px;
    padding: 15px;
    margin: auto;
}

.bodyEditCategory {
    display: flex;
    justify-content: center;
    height: 60vh;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    /* margin-bottom: -1px; */
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    /* margin-bottom: 10px; */
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* Footer */
.footer-iqbal {
    bottom: 0px;
    position: fixed;
    width: 100%;
    z-index: 99;
}

.font-iqbal {
    font-family: Poppins;
}

.myButton {
    box-shadow: 3px 4px 0px 0px #1564ad;
    background: linear-gradient(to bottom, #0b2e8e 5%, #378de5 100%);
    background-color: #0b2e8e;
    border-radius: 5px;
    border: 1px solid #337bc4;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 13px 44px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #528ecc;
}
.myButton:hover {
    background: linear-gradient(to bottom, #378de5 5%, #0b2e8e 100%);
    background-color: #378de5;
    color: #ffffff;
    text-decoration: none;
}
.myButton:active {
    position: relative;
    top: 1px;
}

.myButtonClose {
    box-shadow: 3px 4px 0px 0px #c21cb9;
    background: linear-gradient(to bottom, #EA63E3 5%, #b03bab 100%);
    background-color: #f27fec;
    border-radius: 5px;
    border: 1px solid #f27fec;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 13px 44px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #883c84;
}
.myButtonClose:hover {
    background: linear-gradient(to bottom, #e93ee0 5%, #c72abf 100%);
    background-color: #d92ed0;
    color: #ffffff;
    text-decoration: none;
}
.myButtonClose:active {
    position: relative;
    top: 1px;
}